.logout-button{
    background-color: rgb(107, 9, 9);
    color: whitesmoke;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    font-weight: 600;
}

.movies-index-container{
    display: flex;
    flex-direction: column;
    border: dotted 2px gray;
    border-radius: 10px;
    width: 800px;
    padding: 40px;
}

.movie-item-wrapper{
    border: solid 1px gray;
    border-radius: 1px;
}

.create-movie-wrapper{
    display: flex;
    flex-direction: column;
    border: dotted 2px gray;
    border-radius: 10px;
    width: 800px;
    padding: 40px;
}

.create-movie-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.create-movie-form > div > input {
    width: 150px;
    background-color: rgb(1, 85, 124);
    color: whitesmoke;
    border-radius: 10px;
}

.cancel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 85, 124);
    color: whitesmoke;
    border-radius: 10px;
    text-decoration: none;
    width: 150px;
    height: 20px;
    margin-left: 40px;
}

.create-movie-form > label > input {
    width: 250px;
}

.create-movie-form > label > textarea {
    width: 250px;
    height: 60px;
}

.options{
    display: flex;
    flex-direction: row;
}


.top-level{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
}

.movie-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.movie-box > * {
    height: 100%;
}

.write-review-link{
    text-decoration: none;
    background-color: green;
    color: whitesmoke;
    height: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}